<HTML lang="en">
<title>Image Gallery</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
      </script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
      </script>
<body>
    <div class="container">

        <form action="." method="POST"  enctype="multipart/form-data">

            {% csrf_token %}
            {{form.as_p}}<button type="submit" class="btn btn-lg btn-success">Upload</button>
        </form>
        {% if  img and all_img  %}
            alert("No Image found!!");
        {% endif %}
        {% if obj %}
        <h3>Successfully uploaded : {{img_obj.title}}</h3>
        <img src="{{ obj.image.url}}" alt="image" class="img-thumbnail">
        {% endif %}
        <form action="." method="GET" enctype="multipart/form-data">
        <label for="dropdown">
                <select name="dropdown">
                {% for cat in cat_list %}
                    <option value="{{ cat }}">{{ cat }}</option>

                    {% endfor %}
                 </select>
                <button type="submit" >Submit</button>
            </label>
        {% for image in img%}
            {% if forloop.first %}<div class="row ">{% endif %}
            <div class="col-lg-4 col-md-4 col-12" >
        <div class="text-center mt-2">
            <img src="{{image.image.url}}"  height="70%" width="70%" class="img-thumbnail" alt="img">
            <h2 class="text-center" >tittle:{{image.title}}</h2>
            <h3 class="text-center">Category:{{ image.category }}</h3>
        </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class=row>{% endif %}

            {% if forloop.last %}</div>{% endif %}
        {% endfor %}
        </form>
        {% for x in all_img %}
        {% if forloop.first %}<div class="row ">{% endif %}
            <div class="col-lg-4 col-md-4 col-12" >
        <div class="text-center mt-2">
            <img src="{{x.image.url}}"  height="70%" width="70%" class="img-thumbnail" alt="img">
            <h2 class="text-center" >tittle:{{x.title}}</h2>
            <h3 class="text-center">Category:{{ x.category }}</h3>
        </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class=row>{% endif %}

            {% if forloop.last %}</div>{% endif %}

        {% endfor %}
    </div>
</body>
</HTML>